

  .select{
      font-size: 50px;
  }
  
  .cust{
    font-size: 30px;
     color: blue;
  }

  .del{
    font-size: 30px;
    color: green;

  }

  .shop{
    font-size: 30px;
    color:black;


  }